form {
    justify-content: center;
    text-align: center;
}

ul {
    list-style: none;
}

input {
    padding: .5rem;
    font-size: 18px;
}

li {
    font-size: 18px;
}
button { 
    padding: .5rem;
    background-color: black;
    color: white;
}

button:hover {
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}